.image-credits {
    width: fit-content;
    margin-inline: auto;

    & > p {
        text-align: center;
    }

    & img {
        width: clamp(3.125rem, 2.4971rem + 2.9206vw, 4.6875rem);
    }

    & .icons {
        & a {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        & span {
            padding-inline-start: clamp(0rem, -0.4019rem + 1.8692vw, 1rem);
        }
    }
}
